# Final Project: Take 2

In this notebook we'll show you how you can do the same calculations from the first "final" project with a library called ```pandas```. All the code is included since we didn't cover this :)

There are several advantages to using pandas:
+ Importing csv's are a breeze
+ It's good at distinguishing between types (like ints and strings)
+ Indexing is easy, and you can "group by" variables like you can in SQL

Some disadvantages:
+ All your data is loaded in at once, meaning that it won't work well for large files.
+ Pandas can't support units (e.g. cm, m, seconds, etc.)

## 1. Import your libraries

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 2. File stuff

Instead of reading it "normally", we'll put it into a Pandas dataframe:

In [3]:
data_filename = './sample_data.csv'

data = pd.read_csv(data_filename, header=0)
data.head()  # show the first 5 rows. Notice they're 0-indexed.

   id   first_name    country  age gender
0   1     Nicholas   Honduras   43      M
1   2      Mildred  Indonesia   31      F
2   3    Catherine   Malaysia   33      F
3   4         Juan      China   21      M
4   5  Christopher  Indonesia   73      M

## 3. Compute the average age of the people in the dataset

Hint: only consider the 'age' column, and use numpy to compute the mean

In [ ]:
average_age = np.mean(data['age'])
print str(average_age) + ' years'
print "The average age is %0.1f years" % (average_age)

## 4. Count the number of men and women in this data

Hint: use the pandas "groupby" method

In [ ]:
group_df = data.groupby(['gender'])
print 'Number of women: ' + str(len(group_df.get_group('F')))
print 'Number of men: ' + str(len(group_df.get_group('M')))

## 5. Compute the average age for men and women (separately)

Hint: use the pandas "groupby" method, as use numpy to compute the mean

In [ ]:
print "The average age of women is %0.1f years" % np.mean(group_df.get_group('F')['age'])
print "The average age of men is %0.1f years" % np.mean(group_df.get_group('M')['age'])

## 6. Plot the distribution of ages

In [ ]:
num_bins = 50
n, bins, patches = plt.hist(data.age, num_bins, facecolor='green', alpha = 0.5)
plt.axis([10, 90, 0, 50])  # xmin, xmax, ymin, ymax
plt.grid('on')
plt.xlabel('Ages of people')
plt.ylabel('Count')
plt.title('Distribution of ages')
plt.show()